.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.line {
  height: 4px;
  background-color: #fff;
  width: 90px;
}

img {
  width: 25%;
  margin-bottom: 20px;
}
